


<div align="center" >
<div align="center" style="padding:10px;border: chocolate solid 1px; text-align: center; width: 200px;
 background: cornflowerblue;">
        <img src="assets/{{selbook.simage}}" width="100" height="100"> 
        <br>

        Roll no:{{selbook.swtitle}}
        <br/>
        Name :<b>{{selbook.sauthor}}</b>
        <br>
        Batch:  {{selbook.spublisher}}
        <br>
        Dept:  {{selbook.sdept}}
        
</div>

</div>







<br/>
<app-book [title]="item.title"
[author]="item.author"
[publisher]="item.publisher"
[image]="item.image"
[dept]="item.dept"


 *ngFor="let item of bookdetails"(sendbook)=" addbook($event)"></app-book>
